[Desktop Entry]
Version=1.0
Name=Brave (Lakesh)
GenericName=Web Browser (Lakesh Profile)
Comment=Access the Internet - Lakesh Profile
Exec=kstart5 --desktopfile brave-lakesh brave --profile-directory="Lakesh" %U
Terminal=false
Icon=brave-lakesh
Type=Application
Categories=Network;WebBrowser;
StartupNotify=true
StartupWMClass=brave-lakesh
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Exec=kstart5 --desktopfile brave-lakesh brave --profile-directory="Lakesh"

[Desktop Action new-private-window]
Name=New Incognito Window
Exec=kstart5 --desktopfile brave-lakesh brave --incognito --profile-directory="Lakesh"
