[Desktop Entry]
Name=Debian
GenericName=Terminal entering Debian
Comment=Terminal entering Debian
Categories=Distrobox;System;Utility
Exec=/usr/bin/distrobox enter  debian
Icon=/home/laghab/.local/share/icons/distrobox/debian.png
Keywords=distrobox;
NoDisplay=false
Terminal=true
TryExec=/usr/bin/distrobox
Type=Application
Actions=Remove;

[Desktop Action Remove]
Name=Remove Debian from system
Exec=/usr/bin/distrobox rm  debian
