[Desktop Entry]
Name=Stumble Guys
Comment=Play this game on Steam
Exec=steam steam://rungameid/1677740
Icon=steam_icon_1677740
Terminal=false
Type=Application
Categories=Game;
