[Desktop Entry]
Name=FactorioTheme
X-KDE-PluginInfo-Author=Bartusew
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=wbar13@outlook.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=FactorioTheme
X-KDE-PluginInfo-Version=0.3
X-KDE-PluginInfo-Website=https://github.com/Bartusew/Factorio-theme-plasma-6
